/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td 
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
:focus {
	outline: 0;
}
:active {
	outline: 0;
}

html {
	height: 100%;
}
body {
	color: #333;
	font-family:'lucida grande',helvetica,verdana,arial,sans-serif;
	font-size:13px;
	line-height: 1.3;
	height: 100%;
	font-size: small; 
}
a img {
	border: 0;
}
h1, h2 {
	font-family: 'trebuchet ms',verdana,arial;
	padding: 10px;
	margin: 0
}
h1 {
	font-size: large
}
h2 {
	color: #800;
	padding-left:0;
	font-size: large;
	font-weight: normal;
}
h2 a, h2 a:visited {
	color: #800 !important;
	text-decoration: none !important;
}
h2 a:hover {
	color: red;
}
form {
	background: #fefefe url(../img/form_bg.gif) repeat-x 0 0;
	padding: 0px;
	border: 1px solid #ddd;
	margin-bottom: 1.2em;
}
fieldset {
	border: 0;
	margin: 15px;
}
label {
	display: block;
	margin-top: 2px;
	margin-bottom: 2px;
}
input, select, textarea { 
	font-size: 0.8em;
}
textarea {
	border: 1px solid #999;
	width: 99%;
	height: 16em;
	font-family: inherit;
}
td, th {
	vertical-align: middle;
	padding: 0.35em;
	overflow: hidden;
	height: 1em;
}
th {
	font-weight: bold;
}
td {
	font-size: 94%;
}
tr.even {
	background: #F6F6F6;
}
table {
	text-align: left;
	width: 100%;
}
ul {
	margin-bottom: 18px;
}
li {
	margin-bottom: 0.6em;
	margin-left: 2.2em;
}
p {
	margin: 0 0 1em 0;
}
small {
	font-size: 86%;
}
strong {
	font-weight: bold;	
}
em {
	font-style: italic;
}
pre {
	background-color: #EEEEEE;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 1px 1px 1px 5px;
	font-size: small;
	overflow-x: auto;
	padding: 15px;
	margin-bottom: 1em;
}

/* sections */
#wrapper {
	height: 100%;
	position: relative;
}
#header {
	padding: 0;
	border: 0;
	position: relative;
	text-align: center;
}
#header h1 {
	padding: 20px;
	background-color: #06b;
	color: white;
	font-size: large;
	font-weight: bold;
	background: url(../img/bg.gif) repeat-x;
	text-shadow:1px 1px 2px #444;
}
#header h1 a {
	text-decoration: none;
	text-shadow: #000 1px 1px 2px;
}
#logo {
	background: transparent url(../img/jq.png) repeat scroll 0 0;
	display: block;
	float: right;
	height: 31px;
	margin-right: 10px;
	margin-top: 15px;
	width: 110px;
}
#nav {
	line-height: 1;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0;
	font-size: 1.1em;
	margin: 0;
}
#nav a {
	padding: 0.3em 1em;
	font-size: 88%;
}
#body {
	border: 0;
	padding: 1.6em 2em;
}
#body a:hover, #sidebar a:hover {
	color: #880000;
}
#body h1 {
	padding: 15px 10px 5px 0;
}
#body h2 {
	margin-bottom: 14px;
	padding: 0;
}
#body h3 {
	margin-bottom: 14px;
	font-size: 120%;
	font-weight:bold;
}
#body h2 a {
	text-decoration: underline;
}
#body .padd {
	padding: 0.5em;
}
#footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	font-weight: normal;
	font-size: 90%;
	height: 22px;
	line-height: 18px;
	text-align: center;
	padding: 0;
}
#footer p {
	margin: 0;
	padding: 0.2em;
}
#body button {
	font-size: 0.9em;
	padding: 0.28em 0.6em 0.3em 0.1em;
	margin-right: 0.3em;
}
#content {
	background: url(../img/form_bg.gif) repeat-x 0 0;
	border: 1px solid #888;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 0.8em 0.9em 0 0.9em;
	font-size: 0.8em;
	margin-bottom: 10px;
}
#text-content {
	background: url(../img/form_bg.gif) repeat-x 0 0;
	border: 1px solid #888;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 2px;
	margin-bottom: 10px;
	font-size: 0.8em;
}
.ui-selectmenu-service {
	font-size: 0.8em;
	float: left;
}
.ui-selectmenu-language {
	float: left;
	margin-right: 0.5em;
}
.ui-widget-content {
	font-size: 1em;
}
.ui-widget a.ui-selectmenu, .ui-selectmenu-menu-dropdown {
	font-size: 0.7em;
}
.ui-selectmenu-menu-dropdown {
	font-size: 0.8em;
}

#tabs {
	border: 0px;
}
.ui-tabs .ui-tabs-panel {
	padding: 1em 0;
	font-size: 118%;
}


/* buttons */
.ui-button {
	padding: 0.4em 1em;
	position: relative;
	text-decoration: none;
	font-size: 0.8em;
}
.ui-button span.ui-icon {
	left: 0.2em;
	margin: -8px 5px 0 0;
	position: absolute;
	top: 50%;
}
a.ui-button:hover {
	border: 1px solid #999999;
	background: #dadada url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/smoothness/images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #212121;
	outline: none;
}
.ui-icon {
	float: left;
}
.ui-dialog-buttonpane .loading {
	float: left;
	padding: 0.7em 0 0.7em 22px;
	background-position: 0 center;
}

/* columns */
.col-r {
	float: right;
	width: 55%;
}
.col-l {
	float: left;
	padding-top: 2px;
	width: 42%;
}

/* Common */
.hidden {
	display: none;
}
.strike {
	text-decoration: line-through;
}
.loading {
	background: url(../img/ajax-loader.gif) no-repeat center center;
	padding: 0.5em 8px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: left;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
} 
.clearfix {
	display: inline-block;
}
/* requred comment for clearfix to work in Opera \*/
* html .clearfix {
	height: 1%;
}
* .clearfix {
	display: block;
}
