/*
 *
 * spellchecker.css
 * (c) Richard Willis
 *
 */


/* columns */
.col-l {
	width:42%;
	float:left;
}
.col-r {
	width:55%;
	float:right;
	padding-top:4px;
}
.strike {
	text-decoration:line-through;
}


/* Spell checker stylying */
span.badspelling {
	color:#d70303;
	text-decoration:none;
	background:url(../img/spellchecker/bg.gif) repeat-x 100% 100%;
	cursor:pointer
}
#loading {
	line-height:30px;
	padding-left:8px;
	display:none
}
.suggestDrop {
	position:absolute;
	display:none;
	z-index:9999;
	overflow:none;
	padding:0px 9px 9px 0px;
	margin-top:1px;
	background:transparent url(../img/spellchecker/shadow.png) no-repeat scroll right bottom;
	font:normal 13px arial;
}
#suggestwords {
	background:#fff;
}
.suggestDrop em {
	text-align:center;
	padding:3px 6px 3px 6px;
	display:block;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
}
.suggestDrop a, suggestDrop a:visited {
	border-left:1px solid #bbb;
	border-right:1px solid #bbb;
	padding:3px 6px 3px 6px;
	display:block;margin:0px;
	text-decoration:none;
	color:#333;
	outline:none
}
.suggestDrop a.first, suggestDrop a.first:visited {
	border-top:1px solid #ccc
}
.suggestDrop a:hover {
	color:#000;
	background:#ddd
}
.suggestDrop .foot {
	border-top:1px solid #ddd;
	background:#fff
}
.suggestDrop .foot a, suggestDrop .foot a:visited {
	outline:none
} 
#content {
	background:url(..//img/form_bg.gif) repeat-x 0 0;
	border:1px solid #888;
	padding:10px 20px;
	margin-bottom:5px;
}
